*{
    margin: 0;
    padding: 0;
    /* border: 1px solid black; */
}
html,body{
    height: 100vh;
}
body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    align-items: center;
    background-color: hsl(212, 45%, 89%);
    font-family: "Outfit", sans-serif;
    /* font-size: 15px; */
  }
@media screen and (max-width: 1960px){
    .wrap{
        width: 25%;
    }
    .text-container h3{
        font-size: 1.5rem;
    }
    .text-container p{
        font-size: 1rem;
    }
}
@media screen and (max-width: 960px) {
    .wrap {
      width: 40%;
    }
    .text-container h3{
        font-size: 1.4rem;
    }
    .text-container p{
        font-size: .9rem;
    }
  }
  @media screen and (max-width: 768px) {
    .wrap {
      width: 50%;
    }
    .text-container h3{
        font-size: 1.4rem;
    }
    .text-container p{
        font-size: .9rem;
    }
  }
  @media screen and (max-width: 576px) {
    .wrap {
      width: 80%;
    }
    .text-container h3{
        font-size: 1.2rem;
    }
    .text-container p{
        font-size: .85rem;
    }
  }
  .wrap{
    background-color: hsl(0, 0%, 100%);
    border-radius: 5%;
    padding: 10px 0;
  }
  .container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 93%;
    margin: auto;
  }
  .pic-container{
    border-radius: 3%;
    overflow: hidden;
    font-size: 0;
  }
  .pic-container img{
    width: 100%;
  }
  .text-container{
    padding: 8%;
    text-align: center;
  }
  .text-container h3{
    /* font-size: 1.5rem; */
    font-weight: 700;
    color: hsl(218, 44%, 22%);
    margin-bottom: 10px;
  }
  .text-container p{
    padding: 0 5%;
    /* font-size: 1rem; */
    font-weight: 400;
    color: hsl(216, 15%, 48%);
  }
  .attribution {
    font-size: 11px;
    text-align: center;
  }
  .attribution a {
    color: hsl(228, 45%, 44%);
  }